:root {

    /* custom colors */
    --primary: #0b3142ff;
    --middle-grey: #515867ff;
    --light-grey: #a0a9b1ff;
    --highlight-50: #08abc488;
    --dark-grey: #2a303cff;
    --light: #eef9fbff;
    --middle-blue: #7bd2e0ff;
    --white: #fff;
    --black: #000;
    --shadow: #111;

    /* other variables */
    --nav-item: 36px;
    --title-margin: 20px;
    --logo-size: 70px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--light);
}

/* skip link formatting  */

.screenreader {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    top: auto;
    color: var(--light);
    background-color: var(--dark-grey);
}

.screenreader:focus {
    width: auto;
    height: auto;
    padding: 5px;
    left: 10px;
    top: 120px;
    font-size: 25px;
    z-index: 1;
}

header {
    /* variables for changing hamburger button size */
    --menu-button-width: 50px;
    --menu-button-height: 40px;
    --menu-button-text: 20px;

    /* header formatting */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
    background-color: var(--primary);
    height: 100px;
}

/* header title */
header h1 {
    font-size: 40px;
    text-align: center;
    margin: var(--title-margin);
    transition: all 0.8s;
}

/* navigation menu */
.nav {
    position: absolute;
    top: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: all ease-in 0.2s;
    background-color: var(--dark-grey);
}

/* set navigation items to be hidden initially */
.nav a {
    text-decoration: none;
    font-size: 0px;
    color: var(--light);
    background-color: var(--dark-grey);
    text-align: center;
    width: 100vw;
    height: 0;
    transition: all ease-in 0.2s;
}

/* highlight menu */
.nav a:hover, .nav a:focus {
    background: var(--light-grey);
    color: var(--black);
}

/* invisible checkbox to control opening/closing of navigation menu */
#menu-input {
    position: absolute;
    left: -999px;
    opacity: 0;
}

/* hamburger menu */
.menu-label {
    position: relative;
    margin: auto var(--title-margin);
    font-size: var(--menu-button-text);
    text-align: center;
    width: var(--menu-button-width);
    height: calc(var(--menu-button-height) + var(--menu-button-text));
    cursor: pointer;
}

/* lines on hamburger menu */
.menu-label .bar {
    background: var(--light);
    display: block;
    width: var(--menu-button-width);
    height: calc(var(--menu-button-height) * 0.2);
    margin-bottom: calc(var(--menu-button-height) * 0.2);
    position: relative;
    top: 0;
    transition: all ease-in-out 0.3s;
}

/* animate hamburger menu */

/* rotate and move top bar down to form X */
#menu-input:checked ~ .menu-label .bar:nth-child(2) {
    transform: rotate(-45deg);
    top: calc(var(--menu-button-height) * 0.4);
}

/* shrink and fade middle bar */
#menu-input:checked ~ .menu-label .bar:nth-child(3) {
    width: 0;
    opacity: 0;
}

/* rotate and move bottom bar up to form X */
#menu-input:checked ~ .menu-label .bar:nth-child(4) {
    transform: rotate(45deg);
    top: calc(calc(var(--menu-button-height) * 0.4) * -1);
}

/* open menu when menu input is checked or when focused on */
#menu-input:checked ~ .nav a, .nav:focus-within a {
    height: var(--nav-item);
    font-size: 20px;
    padding: 10px 0;
}

.hero-banner {
    background-image: url("../images/bellevue-skyline.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 0.5s;
    box-shadow: inset 0 0 15px var(--shadow);
}

/* My photo */
.hero-banner img {
    width: 35vw;
    height: 35vw;
    max-width: 500px;
    max-height: 500px;
    margin: 4vw;
    border: var(--primary) solid 4px;
    box-shadow: 5px 5px 15px var(--shadow);
}

/* Welcome message */
.hero-banner h2 {
    font-size: 25px;
    text-align: center;
    background-color: var(--highlight-50);
    padding: 20px;
    border: var(--black) solid 2px;
    font-weight: 700;
    width: 100%;
    transition: all 0.5s;
}

main {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

main section {
    display: flex;
    flex-direction: column;
}

.about {
    align-items: center;
}

.about h3 {
    font-size: 1.5em;
    font-weight: 700;
    padding: 5px;
    margin: 0 20px;
    border-bottom: 2px solid var(--dark-grey);
}

.update {
    font-size: 0.8em;
    font-style: italic;
}

.tldr {
    font-weight: 550;
}

/* Section titles */
main section h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: var(--dark-grey);
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-bottom: var(--dark-grey) solid 3px;
}

main section p {
    font-size: 16px;
    line-height: 18px;
    width: 90%;
    padding: 20px;
}

.work p {
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* project tiles */
.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 calc(95% - 20px);
    background-size: 210%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    border: 5px solid var(--primary);
    margin: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

@media ( hover ) {
    .project {
        background-color: var(--highlight-50);
        background-blend-mode: soft-light;
    }

}

/* make featured project larger */
.project:first-child {
    min-height: 300px;
}

.project:not(:first-child) {
    background-size: 105%;
}

/* Fade background blend and expand slightly when hovered or focused */
.project:hover, .project:focus {
    background-color: #00000000;
    flex-basis: 100%;
    box-shadow: inset 0 0 15px var(--shadow);
}

.project:hover div, .project:focus div {
    background-color: var(--dark-grey);
}

.project div {
    background-color: var(--middle-grey);
    color:var(--white);
    padding: 10px 15px;
    transition: all 0.2s ease-in-out;
}

/* Project Titles */
.project h3 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 5px;
}

/* Background images for projects */

.item-1 {
    background-image: url("../images/javascript-quiz.png");
}

.item-2 {
    background-image: url("../images/red-panda-bg.jpg");
}

.item-3 {
    background-image: url("../images/tree-bg.jpg");
} 

.item-4 {
    background-image: url("../images/water-lilly-bg.jpg");
}

.item-5 {
    background-image: url("../images/plumeria-bg.JPG");
}

.item-6 {
    background-image: url("../images/westpoint-lighthouse-bg.jpg");
}

.item-7 {
    background-image: url("../images/beach-shells-bg.jpg");
}

.contact address {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

/* contact link formatting */
.contact address a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--dark-grey);
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out,
                color 0.2s  ease-in-out;
}

/* highlight links is contact section */
.contact address a:hover, .contact address a:focus {
    background: var(--primary);
    color: var(--light);
}

/* invert icons to be more visible with darker background */
.contact address a:hover .gitHub-logo, .contact address a:focus .gitHub-logo, 
.contact address a:hover .email-icon, .contact address a:focus .email-icon {
    filter: invert(1);
}

/* icon formatting */
.linkedIn-logo, .gitHub-logo, .email-icon {
    width: 2em;
    height: 2em;
    transition: all 0.2s ease-in-out;
}

footer {
    text-align: center;
    min-height: 30px;
    margin: 10px;
}

/* formatting for small screens and laptops */
@media screen and (min-width: 769px) { 

    header h1 {
        font-size: 40px;
    }

    /* move welcome message below my photo */
    .hero-banner h2 {
        width: 35vw;
        margin-left: 4vw;
        margin-bottom: 30px;
        max-width: 500px;
        box-shadow: 5px 5px 15px var(--shadow);
    }

    .nav {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }

    /* adjust menu items to 2 columns instead of one */
    .nav a {
        width: 50vw;
    }

    
    /* move menu word to the left of menu button and increase its font size */
    .menu-word {
        position: absolute;
        right: calc(var(--menu-button-width) * 1.5);
        font-size: 40px;
    }

    /* adjust hamburger menu button once the menu word has moved to the side */
    .menu-label {
        height: var(--menu-button-height);
        margin-left: calc(var(--menu-button-width) * 3);
    }

    /* increase height of hero banner */
    .hero-banner {
        height: 600px;
    }

    /* increase featured project height */
    .project:first-child {
        min-height: 400px;
        background-size: 150%;
    }

    /* adjust all but featured project into 2 columns */
    .project:not(:first-child) {
        flex-basis: calc(45% - 20px);
    }

    .project:not(:first-child):hover {
        flex-basis: calc(46% - 20px);
    }
}

/* formatting for large screens */
@media screen and (min-width: 1025px) {

    .screenreader:focus {
        top: 50px;
        left: 135px
    }

    /* hide menu button */
    #menu-input, .menu-label {
        display: none;
    }

    /* increase height of hero banner */
    .hero-banner {
        height: 800px;
    }

    header {
        height: auto;
        flex-wrap:  wrap;
        --logo-size: 100px;
    }

    /* increase size of header title */
    header h1 {
        font-size: 70px;
        margin: var(--title-margin) auto;
    }

    /* reveal menu */
    .nav {
        position: static;
		flex-wrap: nowrap;
        transition: none;
    }

    /* reveal menu items */
    .nav a {
        width: 25%;
        height: var(--nav-item);
        padding: 10px 0;
        font-size: 20px;
        transition: none;
    }

    /* increase section headers */
    main section h2 {
        font-size: 40px;
        border-bottom: solid 4px;
    }

    .about {
        align-items: flex-start;
    }

    /* increase height of all project to fit larger screen */
    .project:first-child {
        min-height: 250px;
        background-size: 105%;
    }
}
    