:root {
    --prussian-blue: #0b3142ff;
    --black-coral: #515867ff;
    --pacific-blue: #08abc4ff;
    --gunmetal: #2a303cff;
    --azure-x-11-web-color: #eef9fbff;
    --cadet-grey: #a0a9b1ff;
    --forest-green-web: #3d8b2dff;
}

/* skip link formatting  */

.screenreader {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    top: auto;
    color: var(--azure-x-11-web-color);
    background-color: var(--gunmetal);
}

.screenreader:focus {
    width: auto;
    height: auto;
    padding: 2px;
    left: 0;
    top:20px;
    font-size: 20px;
}


header {
    /* variables for quickly changing hambuger button size and placement */
    --menu-button-offset-top: 20px;
    --menu-button-offset-right: 25px;
    --menu-button-width: 50px;
    --menu-button-height: 40px;
    --menu-button-text: 20px;

    /* other variables */
    --nav-item: 36px;

    /* header formatting */
    color: var(--azure-x-11-web-color);
    background-color: var(--prussian-blue);
    height: 100px;
}

header h1 {
    font-size: 40px;
    padding: 30px;
}

nav {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.2s;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: var(--azure-x-11-web-color);
    background-color: var(--gunmetal);
    text-align: center;
    width: 100vw;
    height: 0;
    transition: all ease-in-out 0.2s;
}

nav a:hover {
    background: var(--cadet-grey);
    color: #000;
}

/* invisible checkbox to control opening/closing of navigation menu */
#menu-input {
    position: absolute;
    top: var(--menu-button-offset-top);
    right: var(--menu-button-offset-right);
    width: var(--menu-button-width);
    height: calc(var(--menu-button-height) + var(--menu-button-text));
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
    cursor: pointer;
}

/* hamburger menu */
.menu-label {
    font-size: var(--menu-button-text);
    text-align: center;
    position: absolute;
    top: var(--menu-button-offset-top);
    right: var(--menu-button-offset-right);
    width: var(--menu-button-width);
    height: var(--menu-button-height);
}

/* lines on hambuger menu */
.menu-label .bar {
    background: var(--azure-x-11-web-color);
    display: block;
    width: var(--menu-button-width);
    height: calc(var(--menu-button-height) * 0.2);
    margin-bottom: calc(var(--menu-button-height) * 0.2);
    position: relative;
    top: 0;
    transition: all ease-in-out 0.3s;
}

/* animate hambuger menu */

/* rotate and move top bar down to form X */
#menu-input:checked ~ .menu-label .bar:nth-child(2) {
    transform: rotate(-45deg);
    top: calc(var(--menu-button-height) * 0.4);
}

/* shrink and fade middle bar */
#menu-input:checked ~ .menu-label .bar:nth-child(3) {
    width: 0;
    opacity: 0;
}

/* rotate and move bottom bar up to form X */
#menu-input:checked ~ .menu-label .bar:nth-child(4) {
    transform: rotate(45deg);
    top: calc(calc(var(--menu-button-height) * 0.4) * -1);
}

/* animate menu opening/closing */

#menu-input:checked ~ nav a {
    height: var(--nav-item);
    padding: 10px 0;
}

/* formatting for small screens and laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .menu-word {
        position: absolute;
        right: calc(var(--menu-button-offset-right) + var(--menu-button-width));
        font-size: 40px;
    }

    #menu-input {
        height: var(--menu-button-height);
    }

    header h1 {
        padding-left: 20vw;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav a {
        width: 50vw;
    }
}

/* formatting for large screens */
@media screen and (min-width: 1025px) {
    #menu-input, .menu-label {
        display: none;
    }

    header {
        height: auto;
    }

    header h1 {
        text-align: center;
    }

    nav {
        position: static;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav a {
        width: 25vw;
        height: var(--nav-item);
        padding: 10px 0;
    }
}
    