:root {

    /* custom colors */
    --prussian-blue: #0b3142ff;
    --black-coral: #515867ff;
    --pacific-blue-50: #08abc488;
    --gunmetal: #2a303cff;
    --azure-x-11-web-color: #eef9fbff;
    --cadet-grey: #a0a9b1ff;
    --middle-blue: #7bd2e0ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--azure-x-11-web-color);
}

/* skip link formatting  */

.screenreader {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    top: auto;
    color: var(--azure-x-11-web-color);
    background-color: var(--gunmetal);
}

.screenreader:focus {
    width: auto;
    height: auto;
    padding: 2px;
    left: 10px;
    top: 36px;
    font-size: 25px;
}

header {
    /* variables for changing hambuger button size and placement */
    --menu-button-width: 50px;
    --menu-button-height: 40px;
    --menu-button-text: 20px;

    /* other variables */
    --nav-item: 36px;
    --title-margin: 30px;

    /* header formatting */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--azure-x-11-web-color);
    background-color: var(--prussian-blue);
    height: 100px;
}

header h1 {
    font-size: 35px;
    text-align: center;
    margin: var(--title-margin);
    transition: all 0.8s;
}

/* navigation menu */
nav {
    position: absolute;
    top: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: all ease-in 0.2s;
    background-color: var(--gunmetal);
}

nav a {
    text-decoration: none;
    font-size: 0px;
    color: var(--azure-x-11-web-color);
    background-color: var(--gunmetal);
    text-align: center;
    width: 100vw;
    height: 0;
    transition: all ease-in 0.2s;
}

/* highlight menu */
nav a:hover, nav a:focus {
    background: var(--cadet-grey);
    color: #000;
}

/* invisible checkbox to control opening/closing of navigation menu */
#menu-input {
    position: absolute;
    left: -999px;
    opacity: 0;
}

/* hamburger menu */
.menu-label {
    position: relative;
    margin: auto var(--title-margin);
    font-size: var(--menu-button-text);
    text-align: center;
    width: var(--menu-button-width);
    height: calc(var(--menu-button-height) + var(--menu-button-text));
    cursor: pointer;
}

/* lines on hambuger menu */
.menu-label .bar {
    background: var(--azure-x-11-web-color);
    display: block;
    width: var(--menu-button-width);
    height: calc(var(--menu-button-height) * 0.2);
    margin-bottom: calc(var(--menu-button-height) * 0.2);
    position: relative;
    top: 0;
    transition: all ease-in-out 0.3s;
}

/* animate hambuger menu */

/* rotate and move top bar down to form X */
#menu-input:checked ~ .menu-label .bar:nth-child(2) {
    transform: rotate(-45deg);
    top: calc(var(--menu-button-height) * 0.4);
}

/* shrink and fade middle bar */
#menu-input:checked ~ .menu-label .bar:nth-child(3) {
    width: 0;
    opacity: 0;
}

/* rotate and move bottom bar up to form X */
#menu-input:checked ~ .menu-label .bar:nth-child(4) {
    transform: rotate(45deg);
    top: calc(calc(var(--menu-button-height) * 0.4) * -1);
}

/* open menu when menu input is checked or when focused on */
#menu-input:checked ~ nav a, nav:focus-within a {
    height: var(--nav-item);
    font-size: 20px;
    padding: 10px 0;
}

.hero-banner {
    background-image: url("../images/bellevue-skyline.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 0.5s;
}

.hero-banner img {
    width: 35vw;
    height: 35vw;
    max-width: 500px;
    max-height: 500px;
    margin: 4vw;
    border: var(--prussian-blue) solid 4px;
    box-shadow: 5px 5px 15px #111;
}

.hero-banner h2 {
    font-size: 25px;
    text-align: center;
    background-color: var(--pacific-blue-50);
    padding: 20px;
    border: #111 solid 2px;
    font-weight: 700;
    width: 100%;
    transition: all 0.5s;
}

main {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

main section {
    display: flex;
    flex-direction: column;
}

main section h2 {
    font-size: 25px;
    text-align: center;
    color: var(--gunmetal);
    width: 100%;
    padding: 10px;
    border-bottom: var(--gunmetal) solid 2px;
}

main section p {
    font-size: 15px;
    width: 80%;
    padding: 10px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 calc(100% - 20px);
    background-color: var(--pacific-blue-50);
    background-blend-mode: soft-light;
    min-height: 200px;
    border: 5px solid var(--prussian-blue);
    margin: 10px;
    text-decoration: none;
    background-size: 100%;
    background-position: center;
    transition: background-color 0.35s ease-in;
}

.project:hover {
    background-color: #00000000;
}

.project div {
    background-color: var(--black-coral);
    color:var(--azure-x-11-web-color);
    padding: 10px 15px;
}

.project h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7 {
    background-image: url("https://via.placeholder.com/1000?text=Project+Placeholder+Image");
}

/* common formatting for small screens and laptops */
@media screen and (min-width: 769px) {
    header h1 {
        font-size: 40px;
    }
    .hero-banner h2 {
        width: 35vw;
        margin-left: 4vw;
        margin-bottom: 30px;
        max-width: 500px;
    }

    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
		
	.hero-banner h2 {
		box-shadow: 5px 5px 15px #111;
	}

    /* move menu word to the left of menu button and increase its font size */
    .menu-word {
        position: absolute;
        right: calc(var(--menu-button-width) * 1.5);
        font-size: 40px;
    }

    /* adjust hamberger menu button once the menu word has been moved */
    .menu-label {
        height: var(--menu-button-height);
    }

    .hero-banner {
        height: 600px;
    }

    nav {
        flex-wrap: wrap;
    }

    nav a {
        width: 50vw;
    }

    .project:not(:first-child) {
        flex-basis: calc(50% - 20px);
    }
}

/* formatting for large screens */
@media screen and (min-width: 1025px) {

    /* hide menu button */
    #menu-input, .menu-label {
        display: none;
    }

    .hero-banner {
        height: 800px;
    }

    header {
        height: auto;
        flex-wrap:  wrap;
    }

    header h1 {
        font-size: 50px;
    }

    /* reveal menu */
    nav {
        position: static;
		flex-wrap: nowrap;
        transition: none;
    }

    nav a {
        width: 25vw;
        height: var(--nav-item);
        padding: 10px 0;
        font-size: 20px;
        transition: none;
    }

    .project {
        min-height: 250px;
    }
}
    